<% include partials/header %>
<h1>create a new campground</h1>


<form action="/campgrounds" method="post">
    <!-- we use this name to grab request from the reques.body -->
    <input type="text" name="name" palceholder="name" >
    <input type="text" name="image" placeholder="img-url" >
    <button >submit!</button>
</form>
<a href="/campgrounds">Back</a>
<% include partials/footer %>
